.content-wrapper {
  height: 100vh;
}

.left-side, .main-sidebar {
  padding-top: 0;
}

.dist-parameters {
  display: flex;
  justify-content: space-between;
}

div.box:has(> div.dist-parameters) {
  margin-bottom: 0;
}

/* ----- */
/* Tails */
/* ----- */
.tail-parameters {
    display: flex;
    align-items: flex-end;
}

.tail-parameters > div {
    margin: 0 10px 0 0;
}